.profile-header {
  margin-bottom: 1rem;
}

.profile-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .profile-header-content {
    flex-direction: row;
  }
}
